body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: lightblue;
}
.info
{
    display: block;
    width: 350px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 10px;
    border-style: solid;
    padding-left: 10px;
    border:none;
}
.confirm
{
    width: 366px;
    height: 35px;
    margin-bottom: 5px;
}
.msg
{
    text-align: center;
}
.notfilled
{
    background-color: red;
}
